.Btn {
	@include font-heading;
	@include text-std;
	border: none;
	padding: #{ $base-line-height / 2 } 30px;
	background: $hm-primary;
	color: #FFF;
	margin-bottom: $base-line-height / 2;
	margin-right: $base-line-height / 2;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
	vertical-align: middle;
	width: 100%;

	&:link,
	&:visited {
		color: #FFF;
		text-decoration: none;
	}

	&:hover,
	&:focus {
		color: #FFF;
		background: lighten( $hm-primary, 10% );
		text-decoration: none;
	}

	@media #{ $mq_sm-up } {
		width: auto;
	}

}

.Btn-Secondary {
	background-color: $hm-accent;

	&:hover,
	&:focus {
		background: lighten( $hm-accent, 10% );
	}
}

.Btn-Tertiary {
	background-color: $hm-warm-grey;

	&:hover,
	&:focus {
		background: lighten( $hm-warm-grey, 10% );
	}
}

.Btn-Transparent {

	background-color: transparent;
	color: $hm-primary;

	&:link,
	&:visited {
		color: $hm-primary;
	}

	&:hover,
	&:focus {
		color: #FFF;
		background: $hm-primary;
	}
}

.Btn-Link {
	@extend a:link;
	@include text-std;
	font-family: inherit;
	text-transform: none;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	color: $hm-primary;
	font-weight: normal;
	letter-spacing: 0;

	&:link,
	&:visited {
		color: $hm-primary;
		background: transparent;
	}

	&:hover,
	&:focus {
		color: $hm-primary;
		text-decoration: underline;
		background: transparent;
	}

}

.Btn-Small {
	@include text-sm;
	padding: #{ $base-line-height / 4 } #{ $gutter-width / 2 };
}
