.Btn {
	@include font-body;
	@include text-xm;
	border: 1px solid $color-link;
	border-radius: 4px;
	padding: #{ $gutter-width / 4 } $gutter-width;
	background: none;
	color: $color-link;
	margin-bottom: $margin-vertical-sm / 2;
	margin-right: $gutter-width / 2;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	width: auto;
	box-shadow: none;
	text-shadow: none;
	height: auto;

	&:link,
	&:visited {
		color: $color-link;
		text-decoration: none;
	}

	&:hover,
	&:focus {
		color: $color-link;
		text-decoration: none;
		outline: none;
	}

	&[disabled] {
		cursor: default;
		opacity: 0.3;
	}

	&--block {
		width: 100%;
		margin-bottom: $margin-vertical-sm;
		margin-right: 0;
	}
}

.Btn-Secondary {

	color: $color-accent;
	border-color: $color-accent;

	&:link,
	&:visited {
		color: $color-accent;
	}

	&:hover,
	&:focus {
		color: $color-accent;
	}

}

.Btn-Tertiary {

	color: $color-text-default;
	border-color: $color-text-default;

	&:link,
	&:visited {
		color: $color-text-default;
	}

	&:hover,
	&:focus {
		color: $color-text-default;
	}

}

.Btn-Small {
	@include text-std;
	border-width: 1px;
	padding: 0 #{ $gutter-width / 2 };
}

.Btn-Loading {

	&:after {
		display: none;
	}

	.Loading-Active {
		@extend .Loading-Red;
		margin-left: $gutter-width;
	}

}
