.Form-Field,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"] {
	@include font-body;
	@include text-std;
	border: 1px solid $border-color;
	padding: #{ $base-line-height / 2 } 1em;
	background: transparent;
	color: $hm-warm-grey;
	margin-bottom: $base-line-height / 2;
	margin-right: $base-line-height / 2;
	display: block;
	text-align: left;
	border-radius: 2px;
	vertical-align: middle;
	width: 300px;
	max-width: 100%;

	&:focus {
		border-color: darken( $border-color, 30% );
		outline: none;
	}

	&.Form-Field-Lg {
		width: 100%;
	}

	&.Form-Field-Md {
		width: 540px;
	}

	&.Form-Field-Sm {
		width: 150px;
	}

	&.Form-Field-Code {
		font-family: $font-family-code;
	}

}

textarea {
	@extend .Form-Field;
	width: 100%;
	clear: both;
}

.Form-Label,
.Form label {
	@include font-heading;
	@include text-sm;
	display: block;
	margin-top: $base-line-height / 2;
	margin-bottom: 0;
}
