.Form_Field,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"] {
	@include font-body;
	@include text-std;
	border: 1px solid $border-color;
	padding: #{ $base-line-height / 2 } 1em #{ $base-line-height / 2 };
	background: transparent;
	box-shadow: none;
	color: $hm-warm-grey;
	margin-bottom: $base-line-height / 2;
	margin-right: $base-line-height / 2;
	display: block;
	text-align: left;
	border-radius: 2px;
	vertical-align: middle;
	width: 100%;
	max-width: 100%;
	appearance: none;

	&:hover {
		border-color: darken( $border-color, 15% );
		outline: none;
	}

	&:focus {
		border-color: darken( $border-color, 30% );
		outline: none;
	}

	@media #{ $mq_sm-up } {

		width: 50%;

		&.Form_Field-Lg {
			width: 100%;
		}

		&.Form_Field-Md {
			width: 33%;
		}

		&.Form_Field-Sm {
			width: 15%;
		}

	}

	&.Form_Field-Code {
		font-family: $font-family-code;

		&::placeholder {
			font-style: normal;
		}
	}

	&::placeholder {
		font-style: italic;
		color: inherit;
		opacity: 0.5;
	}

}

.Form_Textarea,
textarea {
	@extend .Form_Field;
	width: 100%;
	clear: both;
}

.Form_Label,
.Form label,
.Form legend {
	@include font-heading;
	@include text-sm;
	display: block;
	margin-top: $base-line-height / 2;
	margin-bottom: 0;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.Form_Checkbox_Group {

	label {
		@include font-body;
		display: inline-block;
		margin-top: 0;
	}

	input[type="radio"],
	input[type="checkbox"] {
		margin-right: $gutter-width / 4;
	}
}

.Form_Radio_Group {
	@extend .Form_Checkbox_Group;
	margin-right: $gutter-width;
	margin-bottom: $base-line-height / 2;
	display: inline-block;

}
