
.Label {

	@include text-sm;
	border: none;
	padding: 0 #{ $gutter-width / 4 };
	background: $hm-beige;
	color: $hm-warm-grey;
	margin-bottom: $base-line-height / 2;
	margin-right: $gutter-width / 4;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
	vertical-align: middle;
	position: relative;
	vertical-align: bottom;
	line-height: 2em;

	&:link,
	&:visited {
		color: inherit;
		text-decoration: none;
	}

	&:hover,
	&:focus {
		color: $hm-warm-grey;
		background: darken( $hm-beige, 5% );
		text-decoration: none;
		outline: none;

		&:after {
			border-right-color: darken( $hm-beige, 5% );
		}
	}

}

.Label-Ornament {

	padding-left: 20px;
	margin-left: ceil( strip-unit( .5 * $base-line-height ) * $base-font-size );

	&:before {
		content: " ";
		position: absolute;
		width: 8px;
		height: 8px;
		margin-top: -4px;
		border-radius: 100%;
		background: white;
		top: 50%;
		left: -2px;
		z-index: 1;
	}

	&:after {

		$triangle-width: ceil( strip-unit( .5 * $base-line-height ) * $base-font-size );

		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: -1 * $triangle-width;
		width: 0;
		height: 0;
		border-color: transparent $hm-beige transparent transparent;
		border-style: solid;
		border-width: $triangle-width $triangle-width $triangle-width 0;
	}

}

.Label_Count {
	display: inline-block;
	border-radius: 100%;
	min-width: .6 * $base-line-height;
	height: .6 * $base-line-height;
	line-height: .6 * $base-line-height;
	font-family: $font-family-code;
	font-size: 11px;
	background: rgba( 0, 0, 0, 0.1 );
	margin-left: 0.1 * $base-line-height;
}
