.loading {
	display: none;
}

.loading--active {
	@include icon( "spinner" );
	background-size: 17px;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	display: inline-block;
	vertical-align: middle;
	margin-left: $gutter-width;
	position: relative;
	top: -1px;
}

.loading--white {
	@include icon( "spinner", "white" );
	background-size: 17px;
}

.loading--red {
	@include icon( "spinner", "red" );
	background-size: 17px;
}
