.Loading {
	display: none;
}

.Loading-Active {
	width: 1rem;
	height: 1rem;
	background: url( "#{ $hm-images }/icons/icon-spinner-black.svg" ) no-repeat center center;
	background-size: 100% 100%;
	animation-name: spin;
	animation-duration: 1500ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	display: inline-block;
	margin-right: $gutter-width / 2;
	position: relative;
	top: 4px;
}

.Loading-White {
	background-image: url( "#{ $hm-images }/icons/icon-spinner-white.svg" );
}
