.HMLogo {

	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	display: inline-block;

	background: url( "#{ $images-path }/logos/logo-black.svg" ) no-repeat center center;

	background-size: 100%;
	width: 156px;
	height: 30px;
	margin: #{ $base-line-height } $gutter-width;
	display: inline-block;
	vertical-align: top;

}

.HMLogo-Red {
	background-image: url( "#{ $images-path }/logos/logo-red.svg" );
}

.HMLogo-White {
	background-image: url( "#{ $images-path }/logos/logo-white.svg" );
}

.HMLogo-Alt {

	background-image: url( "#{ $images-path }/logos/logo-alt-black.svg" );
	width: 107px;
	height: 60px;

	&.HMLogo-Red {
		background-image: url( "#{ $images-path }/logos/logo-alt-red.svg" );
	}

	&.HMLogo-White {
		background-image: url( "#{ $images-path }/logos/logo-alt-white.svg" );
	}

}

.HMLogo-Small {

	background-image: url( "#{ $images-path }/logos/logo-small-black.svg" );
	width: 52px;
	height: 30px;

	&.HMLogo-Red {
		background-image: url( "#{ $images-path }/logos/logo-small-red.svg" );
	}

	&.HMLogo-White {
		background-image: url( "#{ $images-path }/logos/logo-small-white.svg" );
	}
}

.HMLogo-Tiny {

	background-image: url( "#{ $images-path }/logos/logo-tiny-black.svg" );
	background-size: 75%;
	width: 1.5rem;
	height: 1.5rem;

	&.HMLogo-Red {
		background-image: url( "#{ $images-path }/logos/logo-tiny-red.svg" );
	}

	&.HMLogo-White {
		background-image: url( "#{ $images-path }/logos/logo-tiny-white.svg" );
	}
}
