.TagCloud {

	vertical-align: bottom;

	a {

		@extend .Label;

		line-height: 1.2em;
		padding-left: #{ $gutter-width / 4 };
		margin-right: #{ $gutter-width / 4 };
		margin-left: 0;

		&:before,
		&:after {
			display: none;
		}

	}

}

