.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: $base-line-height / 2 $gutter-width / -2;

	@media #{ $mq-sm-up } {
		margin-top: $base-line-height;
		margin-top: $base-line-height;
	}
}

@for $i from 1 through 9 {
	.gallery-columns-#{ $i } {

		@if $i > 2 {
			margin-left: $base-line-height / -4;
			margin-right: $base-line-height / -4;
		}

		@if $i <= 4 {
			@media #{ $mq-sm-up } {
				margin-left: $base-line-height / -2;
				margin-right: $base-line-height / -2;
			}
		}

		.gallery-item {

			width: 100%;

			@if $i > 2 {
				width: 50%;
				margin: $base-line-height / 2 0 0;
				padding: 0 $gutter-width / 4;
			}

			@if $i > 6 {
				width: 25%;
			}

			@media #{ $mq-sm-up } {

				width: 100% / $i;

				@for $ii from 1 through $i {
					&:nth-child( #{ $ii } ) {
						margin-top: 0;
					}
				}

				@if $i <= 4 {
					margin: $base-line-height 0 0;
					padding: 0 $gutter-width / 2;
				}

			}

		}
	}
}

.gallery-item img {
	display: block;
	margin: 0 auto;
}

.gallery-caption {
	background: $hm-beige;
	text-align: center;
}
