@function iconSrc( $name, $color: "black" ) {
	@return "#{ $images-path }/icons/icon-#{ $name }-#{ $color }.svg";
}

@mixin icon( $name, $color: "black" ) {
	$iconSrc: iconSrc( $name, $color );
	background: url( $iconSrc ) no-repeat center center;
	background-size: 75%;
	width: $base-line-height;
	height: $base-line-height;
}

$icons: "wordpress", "server", "facebook", "twitter", "youtube", "strategy", "bubble", "link", "lock", "minus", "minus-alt", "plus", "plus-alt", "search", "spinner";
$colors: "white", "red"; // Note black is the default.

.icon {
	display: inline-block;
	width: $base-line-height;
	height: $base-line-height;
	vertical-align: middle;
}

@each $icon in $icons {

	.icon--#{$icon} {
		@include icon( $icon );
	}

	@each $color in $colors {
		.icon--#{$icon}.icon--#{$color} {
			@include icon( $icon, $color );
		}
	}
}
