<h2 id="style-guide-buttons" class="style-guide-title">Buttons</h2>

<input type="submit" class="Btn" value="Primary" />
<button class="Btn Btn-Secondary">Secondary</button>
<a class="Btn Btn-Tertiary" href="#">Tertiary</a>

<br/>

<button class="Btn Btn-Small">Primary</button>
<button class="Btn Btn-Secondary Btn-Small">Secondary</button>
<button class="Btn Btn-Tertiary Btn-Small">Tertiary</button>
<button class="Btn Btn-Transparent Btn-Small">Transparent</button>

<br/>

<button class="Btn Btn-Small" disabled="disabled">Disabled</button>
<button class="Btn Btn-Secondary Btn-Small" disabled="disabled">Disabled</button>
<button class="Btn Btn-Tertiary Btn-Small" disabled>Disabled</button>
<button class="Btn Btn-Transparent Btn-Small" disabled>Disabled</button>

<br/>

<button class="Btn Btn-Link">Plain button</button>

