<h2>Buttons</h2>

<a class="Btn Btn-Primary" href="#">Primary Button</a>
<a class="Btn Btn-Secondary" href="#">Secondary Button</a>
<a class="Btn Btn-Tertiary" href="#">Tertiary Button</a>

<br/ >

<input type="submit" class="Btn Btn-Primary" value="Primary Button" />
<button class="Btn Btn-Secondary">Secondary Button</button>
<a class="Btn Btn-Transparent" href="#">Plain button</a>

<br/ >

<a class="Btn Btn-Primary Btn-Small" href="#">Primary Button</a>
<a class="Btn Btn-Secondary Btn-Small" href="#">Secondary Button</a>
<a class="Btn Btn-Tertiary Btn-Small" href="#">Tertiary Button</a>

<br/ >

<a class="Btn Btn-Link" href="#">Plain button</a>

