<h3 id="style-guide-forms-buttons" class="style-guide-title">Buttons</h3>

<input type="submit" class="btn" value="Primary" />
<button class="btn btn--secondary">Secondary</button>
<a class="btn btn--tertiary" href="#">Tertiary</a>

<br/>

<button class="btn btn--small">Primary</button>
<button class="btn btn--secondary btn--small">Secondary</button>
<button class="btn btn--tertiary btn--small">Tertiary</button>

<br/>

<button class="btn btn--small" disabled="disabled">Disabled</button>
<button class="btn btn--secondary btn--small" disabled="disabled">Disabled</button>
<button class="btn btn--tertiary btn--small" disabled>Disabled</button>

<div class="background--primary" style="padding:.75rem 15px 0">
	<a class="btn btn--inverted" href="#">Inverted</a>
</div>
