<h3 id="style-guide-brand-colours" class="style-guide-title">Colour swatches</h3>

<h4>Primary</h4>
<div class="util-clearfix">
	<div class="swatch">
		<div class="swatch__background Background-Primary">
		</div>
		<p class="swatch__description">Primary (Red) <code>#FF424A</code></p>
	</div>

	<div class="swatch">
		<div class="swatch__background Background-VibrantBlue">
		</div>
		<p class="swatch__description">Vibrant Blue <code>#4668DF</code></p>
	</div>

	<div class="swatch">
		<div class="swatch__background Background-DeepBlue">
		</div>
		<p class="swatch__description">Deep Blue <code>#203657</code></p>
	</div>

	<div class="swatch">
		<div class="swatch__background Background-Mint">
		</div>
		<p class="swatch__description">Mint <code>#00D2B7</code></p>
	</div>

	<p>Note: the primary red should not be used for small elements such as links in body text due to insufficient color contrast against a white page background.</p>
</div>

<h4>Vibrancy</h4>
<div class="util-clearfix">
	<div class="swatch">
		<div class="swatch__background Background-Primary">
		</div>
		<p class="swatch__description">Base<code>#FF424A</code></p>
		<div class="swatch__background Background-DarkPrimary">
		</div>
		<p class="swatch__description">Hover <code>#CC343B</code></p>
	</div>

	<div class="swatch">
		<div class="swatch__background Background-VibrantBlue">
		</div>
		<p class="swatch__description">Base <code>#4668DF</code></p>
		<div class="swatch__background Background-DarkVibrantBlue">
		</div>
		<p class="swatch__description">Hover <code>#3853B2</code></p>
	</div>

</div>

<h4>Neutrals</h4>
<div class="util-clearfix">

	<div class="swatch">
		<div class="swatch__background Background-DarkGrey">
		</div>
		<p class="swatch__description">Charcoal Grey <code>#353535</code></p>
	</div>

	<div class="swatch">
		<div class="swatch__background Background-AshGrey">
		</div>
		<p class="swatch__description">Ash Grey <code>#717171</code></p>
	</div>

	<div class="swatch">
		<div class="swatch__background Background-LightGrey">
		</div>
		<p class="swatch__description">White Mist <code>#F7F7F7</code></p>
	</div>

</div>
