<h2>Colour swatches</h2>

<div class="util-Clearfix">
	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-Primary">
		</div>
		<p class="Swatch_Description">Primary (Red): #D94E3A</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-Accent">
		</div>
		<p class="Swatch_Description">Accent (Blue): #7DC9DA</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-WarmGrey">
		</div>
		<p class="Swatch_Description">Warm Grey: #504C4C</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-LightGrey">
		</div>
		<p class="Swatch_Description">Light Grey: #EFF1EF</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-DarkGrey">
		</div>
		<p class="Swatch_Description">Dark Grey: #353535</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-LightBeige">
		</div>
		<p class="Swatch_Description">Light beige: #F4EFE6</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-MediumGrey">
		</div>
		<p class="Swatch_Description">Medium grey: #737373</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-Brown">
		</div>
		<p class="Swatch_Description">Brown: #4F4641</p>
	</div>
</div>
