<h2 id="style-guide-brand-colours" class="style-guide-title">Colour swatches</h2>

<div class="util-Clearfix">
	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-Primary">
		</div>
		<p class="Swatch_Description">Primary (Red) <code>#D94E3A</code></p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-Accent">
		</div>
		<p class="Swatch_Description">Accent (Blue) <code>#7DC9DA</code></p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-WarmGrey">
		</div>
		<p class="Swatch_Description">Warm Grey <code>#504C4C</code></p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-LightGrey">
		</div>
		<p class="Swatch_Description">Light Grey <code>#EFF1EF</code></p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-DarkGrey">
		</div>
		<p class="Swatch_Description">Dark Grey <code>#353535</code></p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-Beige">
		</div>
		<p class="Swatch_Description">Beige <code>#F4EFE6</code></p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-MediumGrey">
		</div>
		<p class="Swatch_Description">Medium grey <code>#737373</code></p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Swatch_Background-Brown">
		</div>
		<p class="Swatch_Description">Brown <code>#4F4641</code></p>
	</div>

	<div class="Swatch">
		<hr />
		<p class="Swatch_Description">Border Colour <code>#d9d9d9</code></p>
	</div>

</div>
