<h3 id="style-guide-forms-fields" class="style-guide-title">Form Fields</h3>

<form class="form">

	<label for="form-field-text">Text Field</label>
	<input id="form-field-text" type="text" />

	<label for="form-field-text-large">Large Code Field</label>
	<input id="form-field-text-large" type="text" class="form__field form__field--lg form__field--code" placeholder="Placeholder" />

	<label for="form-field-text-md">Medium Password Field</label>
	<input id="form-field-text-md" type="password" class="form__field form__field--md" placeholder="Placeholder"/>

	<label for="form-field-text-sm">Small Search Field</label>
	<input id="form-field-text-sm" type="search" class="form__field form__field--sm" placeholder="Plchldr"/>

	<label for="form-field-textarea">Textarea</label>
	<textarea id="form-field-textarea"></textarea>

	<fieldset>

		<legend>Radio</legend>

		<div class="form__radio-group">
			<input id="form-field-radio-1" type="radio" name="choice" class="Radio" value="1" />
			<label for="form-field-radio-1">Choice 1</label>
		</div>

		<div class="form__radio-group">
			<input id="form-field-radio-2" type="radio" name="choice" class="Radio" value="2" checked/>
			<label for="form-field-radio-2">Choice 2</label>
		</div>

		<div class="form__radio-group">
			<input id="form-field-radio-3" type="radio" name="choice" class="Radio" value="3" />
			<label for="form-field-radio-3">Choice 3</label>
		</div>

	</fieldset>

	<fieldset>

		<legend>Checkbox</legend>

		<div class="form__checkbox-group">
			<input id="checkbox_1" type="checkbox" name="item_1" class="Checkbox" value="1" />
			<label for="checkbox_1">This is the first checkbox</label>
		</div>

		<div class="form__checkbox-group">
			<input id="checkbox_2" type="checkbox" name="item_3" class="Checkbox" value="2" checked />
			<label for="checkbox_2">This is the second checkbox</label>
		</div>

		<div class="form__checkbox-group">
			<input id="checkbox_3" type="checkbox" name="item_3" class="Checkbox" value="3" />
			<label for="checkbox_3">This is the third checkbox</label>
		</div>

	</fieldset>

	<label for="select_1">Select</label>

	<select id="select_1" class="Select">
		<option value="select-option-one">Option one</option>
		<option value="select-option-two" selected>Option two</option>
		<option value="select-option-three">Option three</option>
	</select>

</form>
