<h2 id="style-guide-form" class="style-guide-title">Form Fields</h2>

<form class="Form">

	<label>Text Field</label>
	<input type="text" />

	<br />

	<label>Standard Search Field</label>
	<input type="search" />

	<br />

	<label>Email Form Field</label>
	<input type="email" />

	<br />

	<label>Password Field</label>
	<input type="password" />

	<br />

	<label>Large Code Field</label>
	<input class="Form-Field-Code Form-Field-Lg" type="text" />

	<br />

	<label>Large Form Field</label>
	<input type="text" class="Form-Field Form-Field-Lg" placeholder="Placeholder" />

	<br />

	<label>Medium Form Field</label>
	<input type="text" class="Form-Field Form-Field-Md" placeholder="Placeholder"/>

	<br />

	<label>Small Form Field</label>
	<input type="text" class="Form-Field Form-Field-Sm" placeholder="Placeholder"/>

	<br />

	<label for="form-field-textarea">Textarea</label>
	<textarea id="form-field-textarea"></textarea>

	<br />

	<label for="form-field-textarea-code">Code</label>
	<textarea id="form-field-textarea-code" class="code"></textarea>

</form>

<br />
<br />
<br />
<br />
