<h2 id="style-guide-form" class="style-guide-title">Form Fields</h2>

<form class="Form">

	<label for="form-field-text">Text Field</label>
	<input id="form-field-text" type="text" />

	<label for="form-field-search">Standard Search Field</label>
	<input id="form-field-search" type="search" />

	<label for="form-field-email">Email Form Field</label>
	<input id="form-field-email" type="email" />

	<label for="form-field-password">Password Field</label>
	<input id="form-field-password" type="password" />

	<label for="form-field-code">Large Code Field</label>
	<input id="form-field-code" class="Form_Field-Code Form_Field-Lg" type="text" />

	<label for="form-field-text-large">Large Form Field</label>
	<input id="form-field-text-large" type="text" class="Form_Field Form_Field-Lg" placeholder="Placeholder" />

	<label for="form-field-text-md">Medium Form Field</label>
	<input id="form-field-text-md" type="text" class="Form_Field Form_Field-Md" placeholder="Placeholder"/>

	<label for="form-field-text-sm">Small Form Field</label>
	<input id="form-field-text-sm" type="text" class="Form_Field Form_Field-Sm" placeholder="Plchldr"/>

	<label for="form-field-textarea">Textarea</label>
	<textarea id="form-field-textarea"></textarea>

	<label for="form-field-textarea-code">Code</label>
	<textarea id="form-field-textarea-code" class="Form_Field-Code"></textarea>

	<h4>Radio</h4>
	<label for="choice-1">One</label>
	<input id="form-field-radio-1" type="radio" name="choice" class="Radio" value="choice 1" checked> Choice 1<br>
	<label for="size_1">Two</label>
	<input id="form-field-radio-2" type="radio" name="choice" class="Radio" value="choice 2"> Choice 2<br>
	<label for="size_1">Three</label>
	<input id="form-field-radio-3" type="radio" name="choice" class="Radio" value="choice 3"> Choice 3<br>

	<h4>Checkbox</h4>
	<label>
		<input id="checkbox_1" type="checkbox" value="first_checkbox" name="item_1" class="Checkbox" checked value="1"> This is the first checkbox
	</label>
	<label>
		<input id="checkbox_2" type="checkbox" value="second_checkbox" name="item_2" class="Checkbox" value="2"> This is the second checkbox
	</label>
	<label>
		<input id="checkbox_3" type="checkbox" value="third_checkbox" name="item_3" class="Checkbox" value="3"> This is the third checkbox
	</label>

	<h4>Select</h4>
	<select id="select_1" class="Select">
		<option value="select-option-one">Option one</option>
		<option value="select-option-two" selected>Option two</option>
		<option value="select-option-three">Option three</option>
	</select>

</form>
