<h2 id="style-guide-components-labels" class="style-guide-title">Labels</h2>

<span class="Label">Lorem</span>
<span class="Label">Cum ageremus</span>
<span class="Label">Cognoscenda <span class="Label_Count">4</span></span>
<span class="Label">Sin tantum modo</span>

<br/>

<span class="Label Label-Ornament">Lorem</span>
<span class="Label Label-Ornament">Cum ageremus</span>
<span class="Label Label-Ornament">Cognoscenda <span class="Label_Count">4</span></span>
<span class="Label Label-Ornament">Sin tantum modo</span>
