<h3 id="style-guide-components-loading" class="style-guide-title">Loading Indicators</h3>

<div class="pattern-library-loading-indicators">

	<div class="pattern-library-loading-indicators__container"> <!-- Note container is only used for the style guide -->
		Loading <span class="Loading loading--active"></span>
	</div>

	<div class="pattern-library-loading-indicators__container"> <!-- Note container is only used for the style guide -->
		Loading <span class="loading--red loading--active"></span>
	</div>

	<div class="pattern-library-loading-indicators__container"> <!-- Note container is only used for the style guide -->
		<button class="btn btn--loading">Loading <span class="Loading loading--active"></span></button>
	</div>
</div>
