<h3 id="style-guide-components-loading" class="style-guide-title">Loading Indicators</h3>

<div class="StyleGuide_LoadingIndicators">

	<div class="StyleGuide_LoadingIndicator_Container"> <!-- Note container is only used for the style guide -->
		Loading <span class="Loading Loading-Active"></span>
	</div>

	<div class="StyleGuide_LoadingIndicator_Container StyleGide_LoadingIndicator_Red"> <!-- Note container is only used for the style guide -->
		Loading <span class="Loading-Red Loading-Active"></span>
	</div>

	<br />
	<div class="StyleGuide_LoadingIndicator_Container"> <!-- Note container is only used for the style guide -->
		<button class="Btn Btn-Loading">Loading <span class="Loading Loading-Active"></span></button>
	</div>
</div>
