<h2 id="style-guide-brand-logos" class="style-guide-title">Human Made Logos</h2>

<h4>Primary Logo</h4>

<div class="HMLogos HMLogos-primary">

	<div class="HMLogo-Container">
		<h1 class="HMLogo">Human Made Limited</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Red">Human Made Limited</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-White">Human Made Limited</h1>
	</div>

</div>

<h4>Alternate Logo</h4>

<div class="HMLogos HMLogos-alternate">

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Alt">Human Made Limited</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Alt HMLogo-Red">Human Made Limited</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Alt HMLogo-White">Human Made Limited</h1>
	</div>

</div>

<h4>Small Logo</h4>

<div class="HMLogos HMLogos-small">

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Small">Human Made Limited</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Small HMLogo-Red">Human Made Limited</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Small HMLogo-White">Human Made Limited</h1>
	</div>

</div>

<h4>Tiny Logo</h4>

<div class="HMLogos HMLogos-Tiny">

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Tiny">Human Made Limited</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Tiny HMLogo-Red">Human Made Limited</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Tiny HMLogo-White">Human Made Limited</h1>
	</div>

</div>
