<h2>Logos</h2>

<h2>Primary Logo</h2>

<div class="Logos Logos-primary">

	<div class="Logo-container">
		<h1 class="Logo">Human Made Limited</h1>
	</div>

	<div class="Logo-container">
		<h1 class="Logo Logo-red">Human Made Limited</h1>
	</div>

	<div class="Logo-container">
		<h1 class="Logo Logo-white">Human Made Limited</h1>
	</div>

</div>

<h2>Alternate Logo</h2>

<div class="Logos Logos-alternate">

	<div class="Logo-container">
		<h1 class="Logo Logo-alt">Human Made Limited</h1>
	</div>

	<div class="Logo-container">
		<h1 class="Logo Logo-alt Logo-red">Human Made Limited</h1>
	</div>

	<div class="Logo-container">
		<h1 class="Logo Logo-alt Logo-white">Human Made Limited</h1>
	</div>

</div>

<h2>Small Logo</h2>

<div class="Logos Logos-small">

	<div class="Logo-container">
		<h1 class="Logo Logo-hm">Human Made Limited</h1>
	</div>

	<div class="Logo-container">
		<h1 class="Logo Logo-hm Logo-red">Human Made Limited</h1>
	</div>

	<div class="Logo-container">
		<h1 class="Logo Logo-hm Logo-white">Human Made Limited</h1>
	</div>

</div>

<h2>Tiny Logo</h2>

<div class="Logos Logos-tiny">

	<div class="Logo-container">
		<h1 class="Logo Logo-h">Human Made Limited</h1>
	</div>

	<div class="Logo-container">
		<h1 class="Logo Logo-h Logo-red">Human Made Limited</h1>
	</div>

	<div class="Logo-container">
		<h1 class="Logo Logo-h Logo-white">Human Made Limited</h1>
	</div>

</div>
