<h2>HMLogos</h2>

<h3>Primary HMLogo</h3>

<div class="HMLogos HMLogos-primary">

	<div class="HMLogo-container">
		<h1 class="HMLogo">Human Made Limited</h1>
	</div>

	<div class="HMLogo-container">
		<h1 class="HMLogo HMLogo-red">Human Made Limited</h1>
	</div>

	<div class="HMLogo-container">
		<h1 class="HMLogo HMLogo-white">Human Made Limited</h1>
	</div>

</div>

<h3>Alternate HMLogo</h3>

<div class="HMLogos HMLogos-alternate">

	<div class="HMLogo-container">
		<h1 class="HMLogo HMLogo-alt">Human Made Limited</h1>
	</div>

	<div class="HMLogo-container">
		<h1 class="HMLogo HMLogo-alt HMLogo-red">Human Made Limited</h1>
	</div>

	<div class="HMLogo-container">
		<h1 class="HMLogo HMLogo-alt HMLogo-white">Human Made Limited</h1>
	</div>

</div>

<h3>Small HMLogo</h3>

<div class="HMLogos HMLogos-small">

	<div class="HMLogo-container">
		<h1 class="HMLogo HMLogo-small">Human Made Limited</h1>
	</div>

	<div class="HMLogo-container">
		<h1 class="HMLogo HMLogo-small HMLogo-red">Human Made Limited</h1>
	</div>

	<div class="HMLogo-container">
		<h1 class="HMLogo HMLogo-small HMLogo-white">Human Made Limited</h1>
	</div>

</div>

<h3>Tiny HMLogo</h3>

<div class="HMLogos HMLogos-tiny">

	<div class="HMLogo-container">
		<h1 class="HMLogo HMLogo-tiny">Human Made Limited</h1>
	</div>

	<div class="HMLogo-container">
		<h1 class="HMLogo HMLogo-tiny HMLogo-red">Human Made Limited</h1>
	</div>

	<div class="HMLogo-container">
		<h1 class="HMLogo HMLogo-tiny HMLogo-white">Human Made Limited</h1>
	</div>

</div>
