<h2 id="section-nav-accordion">Navigation - Accordion</h2>

<div class="NavAccordions">

	<ul class="NavAccordion">
		<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 1</a></li>
		<li class="NavAccordion_Item">
			<a class="NavAccordion_Anchor"href="#">Test item 2</a>
			<ul>
				<li class="NavAccordion_Item NavAccordion_Item-Active"><a class="NavAccordion_Anchor" href="#">Test item 1</a></li>
				<li class="NavAccordion_Item">
					<a class="NavAccordion_Anchor"href="#">Test item 2</a>
					<ul>
						<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 1</a></li>
						<li class="NavAccordion_Item">
							<a class="NavAccordion_Anchor"href="#">Test item 2</a>
							<ul>
								<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 1</a></li>
								<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Working On WordPress VIP Go.</a></li>
								<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 3</a></li>
							</ul>
						</li>
						<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 3</a></li>
					</ul>
				</li>
				<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 3</a></li>
			</ul>
		</li>
		<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 3</a></li>
	</ul>

	<ul class="NavAccordion NavAccordion-Red">
		<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 1</a></li>
		<li class="NavAccordion_Item NavAccordion_Item-Active">
			<a class="NavAccordion_Anchor"href="#">Test item 2</a>
			<ul>
				<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 1</a></li>
				<li class="NavAccordion_Item">
					<a class="NavAccordion_Anchor"href="#">Test item 2</a>
					<ul>
						<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 1</a></li>
						<li class="NavAccordion_Item">
							<a class="NavAccordion_Anchor"href="#">Test item 3</a>
							<ul>
								<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 1</a></li>
								<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Working On WordPress VIP Go.</a></li>
								<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 3</a></li>
							</ul>
						</li>
						<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 3</a></li>
					</ul>
				</li>
				<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 3</a></li>
			</ul>
		</li>
		<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 3</a></li>
	</ul>

	<ul class="NavAccordion NavAccordion-Beige">
		<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 1</a></li>
		<li class="NavAccordion_Item">
			<a class="NavAccordion_Anchor"href="#">Test item 2</a>
			<ul>
				<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 1</a></li>
				<li class="NavAccordion_Item">
					<a class="NavAccordion_Anchor"href="#">Test item 2</a>
					<ul>
						<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 1</a></li>
						<li class="NavAccordion_Item">
							<a class="NavAccordion_Anchor"href="#">Test item 3</a>
							<ul>
								<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 1</a></li>
								<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Working On WordPress VIP Go.</a></li>
								<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 3</a></li>
							</ul>
						</li>
						<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 3</a></li>
					</ul>
				</li>
				<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 3</a></li>
			</ul>
		</li>
		<li class="NavAccordion_Item"><a class="NavAccordion_Anchor" href="#">Test item 3</a></li>
	</ul>

</div>
