<h3 id="style-guide-components-nav-accordion" class="style-guide-title">Navigation - Accordion</h3>

<div class="nav-accordions">

	<ul class="nav-accordion" role="menu">
		<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 1</a></li>
		<li class="nav-accordion__item">
			<a class="nav-accordion__anchor"href="#">Test item 2</a>
			<ul>
				<li class="nav-accordion__item nav-accordion__item--active"><a class="nav-accordion__anchor" href="#">Test item 1</a></li>
				<li class="nav-accordion__item">
					<a class="nav-accordion__anchor"href="#">Test item 2</a>
					<ul>
						<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 1</a></li>
						<li class="nav-accordion__item">
							<a class="nav-accordion__anchor"href="#">Test item 2</a>
							<ul>
								<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 1</a></li>
								<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Working On WordPress VIP Go.</a></li>
								<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 3</a></li>
							</ul>
						</li>
						<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 3</a></li>
					</ul>
				</li>
				<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 3</a></li>
			</ul>
		</li>
		<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 3</a></li>
	</ul>

	<ul class="nav-accordion nav-accordion--red">
		<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 1</a></li>
		<li class="nav-accordion__item nav-accordion__item--active">
			<a class="nav-accordion__anchor"href="#">Test item 2</a>
			<ul>
				<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 1</a></li>
				<li class="nav-accordion__item">
					<a class="nav-accordion__anchor"href="#">Test item 2</a>
					<ul>
						<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 1</a></li>
						<li class="nav-accordion__item">
							<a class="nav-accordion__anchor"href="#">Test item 3</a>
							<ul>
								<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 1</a></li>
								<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Working On WordPress VIP Go.</a></li>
								<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 3</a></li>
							</ul>
						</li>
						<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 3</a></li>
					</ul>
				</li>
				<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 3</a></li>
			</ul>
		</li>
		<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 3</a></li>
	</ul>

	<ul class="nav-accordion nav-accordion--grey">
		<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 1</a></li>
		<li class="nav-accordion__item">
			<a class="nav-accordion__anchor"href="#">Test item 2</a>
			<ul>
				<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 1</a></li>
				<li class="nav-accordion__item">
					<a class="nav-accordion__anchor"href="#">Test item 2</a>
					<ul>
						<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 1</a></li>
						<li class="nav-accordion__item">
							<a class="nav-accordion__anchor"href="#">Test item 3</a>
							<ul>
								<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 1</a></li>
								<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Working On WordPress VIP Go.</a></li>
								<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 3</a></li>
							</ul>
						</li>
						<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 3</a></li>
					</ul>
				</li>
				<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 3</a></li>
			</ul>
		</li>
		<li class="nav-accordion__item"><a class="nav-accordion__anchor" href="#">Test item 3</a></li>
	</ul>

</div>
