<h2 id="section-search-bar">Search Bar</h2>

<div class="StyleGuide_SearchContainer">
	<form class="SearchBar">

		<label class="SearchBar_Label" for="searchBar_Field">Search</label>

		<div class="SearchBar_Container">
			<input class="SearchBar_Field" type="search" id="searchBar_Field" placeholder="Search the site&hellip;" />
			<ul class="SearchBar_Results">
				<li class="SearchBar_Result">
					<a href="#">
						<h3 class="SearchBar_Result_Title">Test Search Result</h3>
						<p class="SearchBar_Result_Text">Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
					</a>
				</li>
				<li class="SearchBar_Result">
					<a href="#">
						<h3 class="SearchBar_Result_Title">Test Search Result</h3>
						<p class="SearchBar_Result_Text">Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui.</p>
					</a>
				</li>
			</ul>

			<button class="SearchBar_Submit">Submit</button>

		</div>
	</form>
</div>
