<h3 id="style-guide-components-tag-cloud" class="style-guide-title">Tag Cloud</h3>

<div class="tag-cloud">
	<a href="#" style="font-size: 0.75rem;">Cupit</a>
	<a href="#" style="font-size: 2rem;">Ex quo</a>
	<a href="#" style="font-size: 0.75rem;">Hoc loco</a>
	<a href="#" style="font-size: 2rem;">Vendibiliora</a>
	<a href="#" style="font-size: 1rem;">Praeterea</a>
	<a href="#" style="font-size: 1.5rem;">Nemo nostrum istius</a>
	<a href="#" style="font-size: 0.75rem;">Expressa</a>
	<a href="#" style="font-size: 1.5rem;">Quo modo autem optimum</a>
</div>
