// Brand Colours.
$hm-red:         #D94E3A;
$hm-blue:        #7DC9DA;
$hm-warm-grey:   #504C4C;
$hm-dark-grey:   #353535;
$hm-beige:       #F4EFE6;
$hm-medium-grey: #737373;
$hm-light-grey:  #EFF1EF;
$hm-brown:       #4F4641;

// Legacy variables
$hm-primary: $hm-red;
$hm-accent: $hm-blue;

// Alternate versions of main colors. Used for borders, backgrounds etc.
$hm-red-light: saturate( lighten( $hm-red, 10% ), 5 );
$hm-red-dark:  desaturate( darken( $hm-red, 6% ), 8 );

$hm-border-color:       lighten( $hm-medium-grey, 40% );
$hm-border-color-red:   $hm-red-light;
$hm-border-color-beige: desaturate( darken( $hm-beige, 15% ), 20 );

$hm-base-line-height: 1.5rem;
$hm-base-font-size:   18px;

$hm-gutter-width: 30px;

$hm-font-family-serif: "ff-meta-serif-web-pro", serif;
$hm-font-family-sans: "proxima-nova", sans-serif;
$hm-font-family-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

// Image Path.
$hm-images: "../images" !default; // defaulted for legacy useage.

$hm-mq-sm-up:   "screen and ( min-width: 30rem )";
$hm-mq-sm-down: "screen and ( max-width: 30rem )";
$hm-mq-md-up:   "screen and ( min-width: 55rem )";
$hm-mq-md-down: "screen and ( max-width: 55rem )";
$hm-mq-print:   "print";
