/*
 * Color Mapping
 */

$color-primary: $hm-red !default;
$color-accent:  $hm-blue !default;
$white:        #FFF !default;

// Alternate versions of main colors. Used for borders, backgrounds etc.
$color-primary-light: saturate( lighten( $color-primary, 10% ), 5 ) !default;
$color-primary-dark:  desaturate( darken( $color-primary, 6% ), 8 ) !default;


/*
 * Base Color Mapping
 */

$color-text-default: $hm-warm-grey !default;
$color-text-dark:    $hm-dark-grey !default;
$color-text-heading: $hm-dark-grey !default;
$color-text-pre:     $hm-warm-grey !default;

$color-background-pre: $hm-beige !default;

/*
 * Component Color Mapping
 */

// Buttons
$color-btn-text:                      $white !default;
$color-btn-tertiary-background:       $hm-medium-grey !default;
$color-btn-tertiary-disbaled:         $hm-medium-grey !default;
$color-btn-tertiary-focus-background: $hm-warm-grey !default;

$color-label-background: $color-background-pre !default;

// Footer
$color-footer-text: $hm-medium-grey !default;

// Forms
$color-input-text: $hm-warm-grey !default;

// NavAccordion
$color-nav-toggle-background:                  $hm-warm-grey !default;
$color-nav-accordion-primary-focus-background: $white !default;
$color-nav-accordion-primary-text:             $white !default;
$color-nav-accordion-beige-focus-background:   $hm-beige !default;
$color-nav-accordion-biege-text:               $hm-warm-grey !default;

// WordPress Galleries
// WordPress Images
$color-caption-background: $hm-beige !default;

// Borders
$border-color:         $hm-border-color !default;
$border-color-primary: $hm-border-color-red !default;
$border-color-light:   $hm-border-color-beige !default;

/*
 * Base Settings
 */

$base-line-height: $hm-base-line-height !default;
$base-font-size:   $hm-base-font-size !default;

$gutter-width:  $hm-gutter-width !default;

$font-family-serif: $hm-font-family-serif !default;
$font-family-sans:  $hm-font-family-sans !default;
$font-family-code:  $hm-font-family-code !default;

// Image Path.
$images-path: $hm_images !default;

// Breakpoints
$mq-sm-up:   $hm-mq-sm-up !default;
$mq-sm-down: $hm-mq-sm-down !default;
$mq-md-up:   $hm-mq-md-up !default;
$mq-md-down: $hm-mq-md-down !default;
$mq-print:   $hm-mq-print !default;
