// Brand Colours.
$hm-primary:     #D94E3A; // Red.
$hm-accent:      #7DC9DA; // Blue.
$hm-warm-grey:   #504C4C;
$hm-dark-grey:   #353535;
$hm-beige:       #F4EFE6;
$hm-medium-grey: #737373;
$hm-light-grey:  #EFF1EF;
$hm-brown:       #4F4641;

// Alternate versions of main colors. Used for borders, backgrounds etc.
$hm-primary-light: saturate( lighten( $hm-primary, 10% ), 5 );
$hm-primary-dark:  desaturate( darken( $hm-primary, 6% ), 8 );

$border-color:       lighten( $hm-medium-grey, 40% );
$border-color-red:   $hm-primary-light;
$border-color-beige: desaturate( darken( $hm-beige, 15% ), 20 );

$base-line-height: 1.5rem;
$base-font-size:   18px;

$gutter-width: 30px;

$font-family-serif: "ff-meta-serif-web-pro", serif;
$font-family-sans: "proxima-nova", sans-serif;
$font-family-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

// Image Path.
$hm-images: "../images" !default;

$mq-sm-up:   "screen and ( min-width: 30rem )";
$mq-sm-down: "screen and ( max-width: 30rem )";
$mq-md-up:   "screen and ( min-width: 55rem )";
$mq-md-down: "screen and ( max-width: 55rem )";
$mq-print:   "print";
