@import "variables";
@import "base/typography";
@import "components/Swatch";

/**
 * For previewing a list/grid of logos.
 * This is used in the pattern library.
 */
.HMLogos {
	display: flex;
	flex-wrap: wrap;
}

.HMLogo-Container {

	width: auto;
	&:nth-child( n ) { background-color: white; }
	&:nth-child( 2n ) { background-color: $hm-light-beige; }
	&:nth-child( 3n ) { background-color: $hm-primary; }

	.HMLogo {
		margin: .5em;
		vertical-align: top;
	}
}
