/**
 * This is only used for the documentation pages,
 * and you do not need to include this file in your project.
 */

@import "style";
@import "components/Swatch";

.container {

	max-width: 40rem;
	margin: auto;

	@media #{ $mq-md-down } {
		max-width: calc( 100% - #{ $gutter-width * 4 } );
	}

	@media #{ $mq-sm-down } {
		max-width: calc( 100% - #{ $gutter-width * 2 } );
	}

}

/**
 * For previewing a list/grid of logos.
 * This is used in the pattern library.
 */
.HMLogos {
	display: flex;
	flex-wrap: wrap;
}

.HMLogo-Container {

	width: auto;
	&:nth-child( n ) { background-color: white; }
	&:nth-child( 2n ) { background-color: $hm-beige; }
	&:nth-child( 3n ) { background-color: $hm-red; }

	.HMLogo {
		vertical-align: top;
	}
}

.pattern-library-title {

	@extend .text-xxl;
	position: relative;

	&:before {
		content: " ";
		display: block;
		@extend .HMLogo;
		@extend .HMLogo-Small;
		@extend .HMLogo-Red;

		margin: 0 0 $base-line-height / 2;

		@media #{ $mq-md-up } {
			width: $base-line-height * 2.5;
			height: $base-line-height * 2.5;
			top: 3px;
			margin: 0;
			margin-bottom: $base-line-height;
		}

	}
}

.pattern-library-subtitle {
	@extend h3;
	margin-top: $margin-vertical-sm * -1;
	margin-bottom: $margin-vertical-sm;
}

.NavAccordions {

	@extend .util-Clearfix;
	clear: both;

	.NavAccordion {
		padding: $margin-vertical-sm $gutter-width * 2;
		width: 100%;

		@media #{ $mq-sm-up } {
			width: 33.333%;
			float: left;
		}
	}
}

.StyleGuide_LoadingIndicators {

	.StyleGuide_LoadingIndicator_Container {
		display: inline-block;
		padding: #{ $margin-vertical-sm / 2 } $gutter-width;
	}

	.Btn {
		margin: 0;
	}
}

.StyleGide_LoadingIndicator_Red {
	color: $color-primary;
}
