@import "variables";
@import "vendor/normalize";
@import "vendor/prismjs";
@import "utilities/clearfix";
@import "base/animations";
@import "base/typography";
@import "base/tables";
@import "base/border-box";
@import "components/Footer";
@import "components/Loading";
@import "components/Forms";
@import "components/Buttons";
@import "components/Logo";
@import "components/wordpress-images";
@import "components/SearchBar";
@import "components/NavAccordion";

.container {

	max-width: 40rem;
	margin: auto;

	@media #{ $mq-md-down } {
		max-width: calc( 100% - #{ $gutter-width * 4 } );
	}

	@media #{ $mq-sm-down } {
		max-width: calc( 100% - #{ $gutter-width * 2 } );
	}

}
