.Label {

	@include text-sm;
	border: 1px solid $color-link;
	border-radius: 4px;
	padding: 0 #{ $gutter-width / 4 };
	background: $color-white;
	color: $color-primary;
	margin-bottom: $base-line-height / 2;
	margin-right: $gutter-width / 4;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	vertical-align: middle;
	position: relative;
	vertical-align: bottom;
	line-height: 2em;

	&:link,
	&:visited {
		color: $color-primary;
		text-decoration: none;
	}

	&:hover,
	&:focus {
		color: $color-white;
		background-color: $color-primary;
		text-decoration: none;
		outline: none;
	}

}

.Label_Count {
	display: inline-block;
	border-radius: 100%;
	min-width: .75 * $base-line-height;
	height: .75 * $base-line-height;
	line-height: .75 * $base-line-height;
	font-family: $font-family-code;
	font-size: 11px;
	background: $color-primary;
	color: $color-white;
	margin-left: 0.1 * $base-line-height;
}
