.Loading {
	display: none;
}

.Loading-Active {
	@include icon( "spinner" );
	background-size: 17px;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	display: inline-block;
	vertical-align: middle;
	margin-left: $gutter-width;
	position: relative;
	top: -1px;
}

.Loading-White {
	@include icon( "spinner", "white" );
	background-size: 17px;
}

.Loading-Red {
	@include icon( "spinner", "red" );
	background-size: 17px;
}
