.HMLogo {

	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	display: inline-block;

	background: url( "#{ $hm-images }/logo-black.svg" ) no-repeat center center;

	background-size: 100%;
	width: 292px;
	height: 56px;
	margin: #{ $base-line-height } $gutter-width;

}

.HMLogo-Red {
	background-image: url( "#{ $hm-images }/logo-red.svg" );
}

.HMLogo-White {
	background-image: url( "#{ $hm-images }/logo-white.svg" );
}

.HMLogo-Alt {

	background-image: url( "#{ $hm-images }/logo-alt-black.svg" );
	width: 173px;
	height: 97px;

	&.HMLogo-Red {
		background-image: url( "#{ $hm-images }/logo-alt-red.svg" );
	}

	&.HMLogo-White {
		background-image: url( "#{ $hm-images }/logo-alt-white.svg" );
	}

}

.HMLogo-Small {

	background-image: url( "#{ $hm-images }/logo-small-black.svg" );
	width: 69px;
	height: 40px;

	&.HMLogo-Red {
		background-image: url( "#{ $hm-images }/logo-small-red.svg" );
	}

	&.HMLogo-White {
		background-image: url( "#{ $hm-images }/logo-small-white.svg" );
	}
}

.HMLogo-Tiny {

	background-image: url( "#{ $hm-images }/logo-tiny-black.svg" );
	width: 20px;
	height: 20px;

	&.HMLogo-Red {
		background-image: url( "#{ $hm-images }/logo-tiny-red.svg" );
	}

	&.HMLogo-White {
		background-image: url( "#{ $hm-images }/logo-tiny-white.svg" );
	}
}
