table {
	border-collapse: collapse;
	width: 100%;
	margin: 0 0 #{ .75 * $base-line-height };
}

th,
td {
	@include text-sm;
	padding: #{ $base-line-height / 3 } #{ $gutter-width / 2 };
	border-bottom: 1px solid $border-color;
	border-right: 1px solid $border-color;

	&:last-child {
		border-right: none;
	}
}

tr:last-child td,
tr:last-child th {
	border-bottom: none;
}

th {
	color: $hm-dark-grey;
	text-align: left;
	@include font-heading;
}
