table {
	border-collapse: collapse;
	width: 100%;
	margin: 0 0 #{ .75 * $base-line-height };
}

th,
td {
	@include text-sm;
	padding: #{ $base-line-height / 3 } #{ $gutter-width / 2 };
	border-bottom: 1px solid $border-color;
	border-right: 1px solid $border-color;

	&:last-child {
		border-right: none;
	}
}

tbody:last-child > tr:last-child td {
	border-bottom: none;
}

tfoot > tr:last-child td,
tfoot > tr:last-child th {
	border-top: 1px solid $border-color;
	border-bottom: none;
}

th {
	color: $hm-dark-grey;
	text-align: left;
	@include font-heading;
}

table caption {
	margin-bottom: $base-line-height / 2;
	font-style: italic;
}
