@mixin font-heading {
	font-family: $font-family-heading;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}

@mixin font-body {
	font-family: $font-family-body;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0;
}

@mixin text-xxl {
	font-size: 3.125rem;
	line-height: $base-line-height * 2.5;
}

@mixin text-xl {
	font-size: 1.875rem;
	line-height: $base-line-height * 2;
}

@mixin text-lg {
	font-size: 1.75rem;
	line-height: $base-line-height * 1.5;
}

@mixin text-md {
	font-size: 1.375rem;
	line-height: $base-line-height * 1.5;
}

@mixin text-std {
	font-size: 1rem;
	line-height: $base-line-height;
}

@mixin text-sm {
	font-size: .875rem;
	line-height: $base-line-height;
}

// Legacy.
@mixin text-tiny {
	@include text-sm;
}

@mixin text-link {

	color: $color-link;
	text-decoration: none;

	&:link {
		color: $color-link;
		text-decoration: none;
	}

	&:visited {
		color: darken( $color-link-visited, 10% );
		text-decoration: none;
	}

	&:hover,
	&:focus {
		color: $color-link-hover;
		text-decoration: underline;
	}

	&:focus {
		outline: 1px solid $hm-dark-grey;
	}

}
