@mixin font-heading {

	font-family: $font-family-heading;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.02em;

	em,
	i,
	strong,
	b {
		font-weight: 700;
		font-style: normal;
		color: $color-primary;
		text-transform: inherit;
	}
}

@mixin font-body {

	font-family: $font-family-body;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0;

	strong,
	b {
		font-weight: 700;
	}
}

@mixin text-xxl {
	font-size: 2.777777778rem;
	line-height: $base-line-height * 2.5;
}

@mixin text-xl {
	font-size: 1.666666667rem;
	line-height: $base-line-height * 1.5;
}

@mixin text-lg {
	font-size: 1.555555556rem;
	line-height: $base-line-height * 1.5;
}

@mixin text-md {
	font-size: 1.333333333rem;
	line-height: $base-line-height * 1.25;
}

@mixin text-std {
	font-size: 1rem;
	line-height: $base-line-height;
}

@mixin text-sm {
	font-size: .888888889rem;
	line-height: $base-line-height;
}

// Legacy.
@mixin text-tiny {
	@include text-sm;
}

@mixin text-link {

	color: $color-link;
	text-decoration: none;
	transition: color .2s ease-in, background .2s ease-in;

	&:link {
		color: $color-link;
		text-decoration: none;
	}

	&:visited {
		color: darken( $color-link-visited, 10% );
		text-decoration: none;
	}

	&:hover,
	&:focus {
		color: $color-link-hover;
		transition: color .2s ease-out, background .2s ease-out;
		text-decoration: underline;
	}

	&:focus {
		outline: 1px solid rgba( $hm-dark-grey, .4 );
	}

}
