html {
	font-size: $base-font-size;
}

body {
	@include text-std;
	@include font-body;
	color: $color-text-default;
}


h1,
.text-xxl {
	@include text-xxl;
	@include font-heading;
	margin: #{ $base-line-height * 1.75 } 0 #{ $base-line-height * 1.25 } 0;
	color: $color-text-heading;
}

h2,
.text-xl {
	@include text-xl;
	@include font-heading;
	margin: #{ $base-line-height * 1.5 } 0 #{ $base-line-height * 1 } 0;
	color: $color-text-heading;
}

h3,
.text-lg {
	@include text-lg;
	@include font-heading;
	margin: #{ $base-line-height * 1 } 0 #{ $base-line-height * .75 } 0;
	color: $color-text-heading;
}

h4,
.text-md {
	@include text-md;
	@include font-heading;
	margin: #{ $base-line-height * 1 } 0 #{ $base-line-height * .75 } 0;
	color: $color-text-heading;
}

h5,
h6 {
	@include text-std;
	@include font-heading;
	margin: #{ $base-line-height * .75 } 0;
	color: $color-text-heading;
}

p,
ul,
ol,
.text-std {
	margin: #{ $base-line-height * .75 } 0;
}

ul,
ol {
	list-style-position: outside;
	padding: 0;
	padding: 0 0 0 $gutter-width;
}

blockquote {
	@include text-md;
	margin: #{ $base-line-height * .75 } 0;
	margin-left: $gutter-width;
	padding-left: $gutter-width;
	border-left: 1px solid $border-color;
	font-style: italic;
}

hr {
	border: 1px solid $border-color;
	border-width: 1px 0 0 0;
	margin: #{ $base-line-height * .75 } 0;
}

code,
pre {
	color: $color-text-pre;
	background: $color-background-pre;
	padding: 0px 5px;
	display: inline-block;
	border-radius: 2px;
}

pre {
	padding: #{ $base-line-height * .5 } #{ $gutter-width / 2 };
	display: block;
	margin: #{ $base-line-height * .75 } 0;
	max-width: 100%;
	overflow: auto;
	white-space: pre-wrap;
}

// Override the background from prism.js.
:not( pre ) > code[ class*="language-" ],
pre[ class*="language-" ] {
	background: $color-background-pre;
	border-radius: 2px;
}

::selection {
	background: lighten( $color-accent, 20% );
}

a {
	@include text-link;
}

// text for screen readers only
.screen-reader-text {
	clip: rect(1px 1px 1px 1px); /* IE 6/7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; /* added line */
	width: 1px;
}